<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Victor Antonio Pereira">
    <meta name="description" content="compras, carrinho, itens, loja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de compras</title>
    <link rel="stylesheet" href="style.css">
    <script src="carrinho.js" defer></script>
    <link rel="shortcut icon" href="./img/FavIcon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <section class="mobile-menu">
        
            <nav id="nav">
                <img class="brand" src="/img/edicoesgimp/logoSemFundo.png" alt="logo">
                <button id="btnMobile" class="btn-mobile">Menu</button>
                <ul class="menu">
                    
                    <li><a href="../../index.html">Pagina inicial</a></li>
                    <li><a href="../../index.html#catalog">Catalogo</a></li>
                    <li><a href="../../index.html#about">Sobre nós</a></li>
                    <li><a href="../../index.html#features">Recurso</a></li>
                    <li><a href="./views/catalogo/catalogo.html"><i class="bi bi-cart-fill"></i> Carrinho</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <section class="page-title">
            <h1>Seu carrinho</h1>
        </section>

        <section class="content">
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                            <th>-</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <section class="product">
                                    <img src="https://picsum.photos/100/120" alt="">
                                    <section class="info">
                                        <section class="name">Nome do produto</section>
                                        <section class="category">Categoria</section>
                                    </section>
                                </section>
                            </td>
                            <td>R$ 120</td>
                            <td>
                                <section class="qty">
                                    <button><i class="bi bi-dash"></i></button>
                                    <span>2</span>
                                    <button><i class="bi bi-plus"></i></button>
                                </section>
                            </td>
                            <td>R$ 240</td>
                            <td><button class="remove"><i class="bi bi-x"></i></button></td>
                        </tr>
                </table>
            </section>

            <aside>
                <section class="box">
                    <header>
                        Resumo da compra
                    </header>

                    <section class="info">
                        <section>
                            <span>Sub total</span>
                            <span>R$ 240</span>
                        </section>

                        <section>
                            <span>frete</span>
                            <span>gartuito</span>
                        </section>

                        <section>
                            <button>Adicionar cupom de desconto <i class="bi bi-arrow-right"></i></button>
                        </section>
                    </section>

                    <footer>
                        <span>Total</span>
                        <span>R$ 418</span>
                    </footer>
                </section>
                <button>Finalizar compra</button>
            </aside>
        </section>
    </main>

</body>

</html>